<div id="comment" class="m-4">
    <div class="Lorem">
        <h1 class="fs-1 fw-bolder int h1 mb-4">Lorem ipsum dolor sit </h1>

        <p>
            <a href="">May 1,2011</a>
            posted by Mike in
            <a href="">Lorem,ipsum,dolor</a>
        </p>
        <span>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id enim libero commodi temporibus magni, vel
            perferendis corporis possimus facere, molestias quas quo fugiat magnam iure inventore ipsa itaque! Mollitia,
            voluptatibus.
        </span>
    </div>

    <div class="comments">
        <h2>comments</h2>
        <hr>
    </div>
    <div class="comt">
        <!-- <i class="bi bi-person-fill"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
</svg>
        <div class="photo">
            <img src="" alt="">
            <h3>peldy</h3>
        </div>
        <div class="ecrit">
            <p>peldy comment two day ago</p>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius iure amet, blanditiis, nobis beatae autem
            </p>
        </div>
    </div>
    <div class="comt2">
        <div class="autre">
            <h1>leave a</h1>
            <hr class="white">
        </div>
       <div class="">
         <div class="photo">
            <img src="" alt="">
            <h3>Mike</h3>
        </div>
        <div class="">
            <input type="text" name="text" id="text" style="width: 20rem;height: 10rem;">
        </div>
       </div>
       <button
        type="submit"
        class="btn btn-primary"
       >
        Submit comment 
       </button>
       
    </div>


</div>