<div class="edit">
    <h1 type="button" class="btn btn-primary">
        Edit post
    </h1>

    <form action="" class="grid">

        <div class="mb-3">

            <input type="text" class="form-control" name="title" id="title" placeholder="top 5 backend technologies every developer sho" />

        </div>
        <div class="mb-3">

            <input type="text" class="form-control" name="author" id="author" placeholder="Mr NJIFANDA" />

        </div>
        <div class="mb-3">

            <input type="text" class="form-control" name="categories" id="categories" placeholder="backend" />

        </div>

        <div>
            <img src="" alt="" srcset="">
        </div>
        <div class="">
            <input type="text" name="text" id="text" , placeholder="top 5 backend technologies every developer should know" style="width: 20rem;height: 10rem;">
        </div>

        <button type="submit" class="btn btn-primary">
           update
        </button>
    </form>
</div>