<!-- <router-outlet></router-outlet> -->
<div class="auth">
    <button class=" auth-login-button " routerLink="/login" > login </button>
    <button class=" auth-register-button " routerLink="/register"> register </button>
</div>

<div class="">
    <h1>SEVEN BLOG </h1>
    <h3>Welcome to the big seven blog</h3>
</div>

<input type="search" name="" id="">
<!-- <button type="submit" class="search-button" name="search-button"> search </button> -->


<div class="list">
    <p>filter by</p>
    <li>order</li>
    <li>name</li>
    <li>email</li>
</div>

<div class="container">
    <h2> the last three articles </h2>
    <div class="last_post">

        <img src="../../assets/img/IMG-20230528-WA0129.jpg" alt="" placeholder="last_post">
        <p>post description</p>
    </div>
    <div class="last_post">
        <img src="../../assets/img/IMG-20230528-WA0130.jpg" alt="" placeholder="last_post">
        <p>post description</p>
    </div>
    <div class="last_post">
        <img src="../../assets/img/IMG-20230528-WA0131.jpg" alt="" placeholder="last_post">
        <p>post description</p>
    </div>
</div>