<div class="parent">

  <div class="auth float-end" routerLink="/login">
    <button type="button" class="btn btn-light text-dark 
      border border-dark border-3 shadow 
      w-50 text-center text-end login me-4">
      login
    </button>

    <button type="button" class="btn btn-light text-dark 
      border border-dark border-3 shadow
      w-50 text-center text-end register  ms-4">
      register
    </button>

  </div>
  <div class="intro ">
    <samp class="fs-1 fw-bolder int h1 mb-4">Seven Blog</samp><br><br>

    <P class="">Welcom to the big Seven blog</P>
  </div><br>

  <div class="searchs">
    <!-- <input type="text" class=" m-0 w-100 border-top-0 border-start-0 border-end-0"> -->
    <input type="search" name="search" id="search" placeholder="search  by title"
      class="rounded-3 w-25 search justify-content-center flex-row" routerLink="/search">
  </div>

  <div class="container-fluid">

    <div class="post row g-4 " routerLink="postdescription" >
      <h2>Last Three articles</h2>

      <div class="post-description col-12 col-sm-6 col-md-4 col-lg-4">
        <figure class="figure">
          <img src="../../assets/img/IMG-20230528-WA0129.jpg" class="figure-img img-fluid rounded w-50" alt=""/>
          <figcaption class="figure-caption text-start">
            the last three articles
          </figcaption>
        </figure>
      </div>
      <div class="post-description col-12 col-sm-6 col-md-4 col-lg-4 ">
        <figure class="figure">
          <img src="../../assets/img/IMG-20230528-WA0130.jpg" class="figure-img img-fluid rounded w-50" alt="" />
          <figcaption class="figure-caption text-start">
            the last three articles
          </figcaption>
        </figure>
      </div>
      <div class="post-description col-12 col-sm-6 col-md-4 col-lg-4">
        <figure class="figure">
          <img src="../../assets/img/IMG-20230528-WA0131.jpg" class="figure-img img-fluid rounded w-50" alt="" />
          <figcaption class="figure-caption text-start">
            the last three articles
          </figcaption>
        </figure>
      </div>
    </div>

  </div>

</div>