<div class="container-fluid m-1 w-100 overflow-none">
    <div class="row">
        <div class="dash">
    <h1>DASHBOARD</h1>
</div>


<div class="auth float-end">
    <button type="button" class="btn btn-success border border-dark border-3 shadow w-50 text-center text-end me-4">
        add new
    </button>

    <button type="button" class="btn btn-danger       border border-dark border-3 shadow 
      w-50 text-center text-end me-4">
        logout
    </button>

</div>

<div class="articles">
    <div class="art">
        <h2 class="caption-top">list of articles</h2>
    </div>
    <div class="list">
        <div class="table-responsive">
            <table class="table table-striped-columns table-hover table-borderless table-primary align-middle">
                <thead class="table-light">
                    <caption>
                        list of articles
                    </caption>
                    <tr>
                        <th> <input type="number" name="" class="w-25 border-0" placeholder="I"> </th>
                        <th> <input type="number" name="" class="w-50 border-0" placeholder="title"> </th>
                        <th> <input type="number" name="" class="w-25 border-0" placeholder="date"> </th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-primary">
                        <td scope="row">1</td>
                        <td>top 5 backend technologies every developer should know</td>
                        <td>24-05-1</td>
                        <td><span class="text-dark bg-warning">modify</span> | <span
                                class="text-white bg-danger">delete</span></td>

                    </tr>
                    <tr class="table-primary">
                        <td scope="row">2</td>
                        <td>essential tips for efficien backend</td>
                        <td>24-05-1</td>
                        <td><span class="text-dark bg-warning">modify</span> | <span
                                class="text-white bg-danger">delete</span></td>

                    </tr>
                    <tr class="table-primary">
                        <td scope="row">3</td>
                        <td>mastering frontend : tips and tri web-developers</td>
                        <td>24-05-1</td>
                        <td><span class="text-dark bg-warning">modify</span> | <span
                                class="text-white bg-danger">delete</span></td>


                    </tr>
                    <tr class="table-primary">
                        <td scope="row">4</td>
                        <td>top 5 backend technologies every developer should know</td>
                        <td>24-05-1</td>
                        <td><span class="text-dark bg-warning">modify</span> | <span
                                class="text-white bg-danger">delete</span></td>

                    </tr>
                    <tr class="table-primary">
                        <td scope="row">5</td>
                        <td>top 5 backend technologies every developer should know</td>
                        <td>24-05-1</td>
                        <td><span class="text-dark bg-warning">modify</span> | <span
                                class="text-white bg-danger">delete</span></td>

                    </tr>

                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <div class="but float-end ">
            <button type="button" class="btn btn-outline-primary me-4">
                < prev </button>
                    <button type="button" class="btn btn-outline-primary">
                        1
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        2
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        3
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        4
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        next >
                    </button>

        </div>

    </div>
</div>
    </div>
</div>